@model User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align:center;">
    <h4>@ViewData["ErrorMsg"]</h4>
    @*<h4>@ViewData["Result"]</h4>*@
    <h4>Welcome @Model.FirstName @Model.LastName, you created an account under @Model.Email! Your birthday is @Model.Birthday. Have you had your coffee? @Model.CheckCoffee.</h4>

</div>
